/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --succes-color: #71d388;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Additional Text Styles */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Additional Text Styles */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  padding: 0.2rem;
}

.text-primary {
  color: var(--primary-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}

/* --------------------------------------------------------- */
/* For buttons */
.btn {
  background: var(--light-color);
  color: #333;
  text-align: center;

  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;

  width:7.5rem;
  margin: 0.6rem;
  border: 1px solid black;
  padding: 0.6rem;
  font-size: 1.2rem;
}

.btn-primary,
.bg-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light{
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* --------------------------------------------------------- */
/* For Navbar component <A class>  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.navbar-logout-button{
  color:var(--light-color);
  background-color: var(--dark-color);
  font-size: 1rem;
  padding: 0 0.45rem;
  border: none;
  cursor: pointer;
  margin: 0,0.25rem;
}

.navbar-logout-button:hover{
  color: var(--primary-color);
}

/* --------------------------------------------------------- */
/* For Landing component <A class>  */
.landing {
  background: url('./img/stock.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dark-landing-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-buttons{
  margin:1rem;
  display:flex;
}

/* --------------------------------------------------------- */
/* For alert component <A class>  */
.alert-container{
  margin:4rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  top:0.5rem;
  right:0.5rem;
}

.alert {
  min-width: 10rem;
  text-align: center;
  padding: 0.5rem 4rem;
  margin: 0.5rem 0.5rem;
  opacity: 0.9;
}

/* --------------------------------------------------------- */
/* For all pages container <A class>  */
.container {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 4.5rem 1rem 1rem 1rem;
}

/* --------------------------------------------------------- */
/* For auth pages <B container class>  */
.auth-container{
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-header{
  width:60%;
  text-align: center;
}

.auth-form{
  width:60%;
  padding:5px;
  margin:5px;
  min-width: 400px;
  max-width: 550px;
}

.auth-form-group {
  margin: 1.2rem 0;
}

.auth-form-group .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.auth-form-group input[type='text'],
.auth-form-group input[type='email'],
.auth-form-group input[type='password'],
.auth-form-group textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.auth-form-group input[type='submit'],
button {
  font: inherit;
}

.auth-button{
  text-align: center
}

.auth-notice{
  text-align: center
}

/* --------------------------------------------------------- */
/* For Form component */

/* .form {
  width:60%;
  padding:5px;
  min-width: 400px;
  max-width: 550px;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
} */

/* <NEW> --------------------------------------------------------- */
/* <B container class>  */
/* <Share> for Portfolio & Transaction pages component */
.record-container{
  width:90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.record-header{
  font-size: 2rem;
  color: #0077b5;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-bottom: 1px solid
}

.record-table{
  margin:0.4rem;
  border-collapse: collapse;
  width:98%;
  font-size: 1rem;
}

.record-table th, td {
  border: 1px solid black;
  text-align: center;
  padding:5px;
}

/* table font color */
.green{
  color:#28a745;
}

.red{
  color:#dc3545;
}
.grey{
  color:grey
}

/* <NEW>--------------------------------------------------------- */
/* for Portfolio page component <B container class>*/
.stocks-container{
  margin:2px;
  padding:2px;
  display: flex;
  flex-direction: column;
}

.total-container{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0.1rem;
}

.tran-sub-header{
  font-size: 1.3rem;
  color: #0077b5;
  padding: 0.6rem;
}

.update-time{
  font-size: 1rem;
  padding: 0.2rem 1rem;
  color:black;
}

/* refresh button */
#refreshing-button{
  font-family: "Source Sans Pro", "Arial", sans-serif;
  text-decoration: none;
  text-align: center;
  background-color: #2e2d2d;
  color: white;

  width: 100px;
  border-radius: 20px;
  margin: 0 10px 0 10px;
  padding: 4px 10px 4px 10px;
  font-size: 1rem;
  opacity: 0.8;
}

#refreshing-button:hover{
  color: white;
  background-color: #008CBA;
}

/* refreshing spinner */
#refreshing-spinner:not([hidden]) {
  display: flex;
}

#refreshing-spinner::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
  margin-left:0.5rem;
}

#refresh-again-text{
  font-size: 1rem;
  margin-left:0.2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* <NEW>--------------------------------------------------------- */
/* For NavSub component */
.operations-nav-buttons{
  display: flex;
  justify-content: flex-start;
}

.operation-nav-tag{
  font-family: "Source Sans Pro", "Arial", sans-serif;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  background-color: #cac9c9;
  color: white;
  border-radius: 20px;

  margin:0.2rem 0.5rem;
  padding:0.1rem;
  font-size: 1rem;
  width: 120px;
}

.operation-nav-tag:hover{
  color: white;
  background-color: #008CBA;
}

.buy-tag{
  background-color:#4CAF50;
}

.sell-tag{
  background-color:#f44336;
}

.check-tag{
  margin:0.1rem;
  background-color:rgba(231, 12, 103, 0.719);
}

/* <NEW>--------------------------------------------------------- */
/* For operation component */
/* Buy and sell operation */
.operations-content{
  margin-top:0.4rem;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.oper-form-container{
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0.5rem 0.5rem;
}

.oper-form{
  width:100%;
}

.oper-form input[type='text'],
.oper-form label
.oper-form textarea {
  display: block;
  width: 100%;
  padding: 0.1rem;
  border: 1px solid #ccc;

  font-size: 1.2rem;
  margin: 0.5rem 0.1rem;
}

.place-btn{
  width:35%;
  margin:1rem 0;
  padding:0.3rem;
  font-size: 1rem;
}

/* check-price button and spinner */
.check-price-container{
  margin: 0.6rem 0.7rem;
  display: flex;
  flex-direction: column;
}

.button-spinner-container{
  display: flex;
  justify-content: flex-start;

  margin:0.2rem 0.5rem;
  font-size: 0.8rem;
}

#try-again-text{
  margin:0.2rem 0.5rem;
  padding:2px;
}

#empty-symbol-text{
  margin:0.2rem 0.5rem;
  padding:2px;
}

/* check price spinner */
#checking-spinner:not([hidden]) {
  display: flex;
}

#checking-spinner::after {
  content: "";
  width: 15px;
  height: 15px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
  margin-left:1rem;
}

/* check price data */
.price-data-container{
  margin:0.5rem 0.8rem;
}


/* <NEW>--------------------------------------------------------- */
/* <NEW>--------------------------------------------------------- */
/* <NEW>--------------------------------------------------------- */
/* Mobile Styles */
@media (max-width: 900px) {
  .container {
    margin-top: 6.8rem;
  }

  .alert-container{
    top:3rem;
    right:0.2rem;
  }
  
  .alert {
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.2rem;
    opacity: 0.9;
    font-size: 0.8rem;
  }

  .btn {
    width:5rem;
    margin: 0.3rem;
    padding: 0.4rem;
    font-size: .8rem;
  }

  /* Text Styles */
  .x-large {
    font-size: 2.5rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* <Share> for Portfolio & Transaction pages component */
  .record-header{
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  .record-table{
    margin:0.2rem 0.2rem 0.5rem 0.2rem;
    width:98%;
    font-size: 0.6rem;
  }

  .record-table th, td {
    padding:3px;
  }

  /* for Portfolio page component < 900px  >*/
  .tran-sub-header{
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  .update-time{
    font-size: 0.5rem;
    padding: 0.1rem 0.4rem;
    color:black;
  }

  #refreshing-button{
    width: 50px;
    margin: 0 5px 0 5px;
    padding: 3px 5px 2px 5px;
    font-size: 0.5rem;
  }

  #refreshing-spinner::after {
    width: 12px;
    height: 12px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #f25a41;
    margin-left:0.5rem;
  }

  #refresh-again-text{
    font-size: 0.6rem;
  }

  /* For NavSub component < 900px  > */
  .operation-nav-tag{
    margin:0.1rem 0.4rem;
    font-size: 0.5rem;
    width: 55px;
  }

  /* For operation component < 900px > */
  /* Buy and sell operation */

  .oper-form-container{
    margin: 0.1rem 0.3rem;
  }

  .oper-form input[type='text'],
  .oper-form label
  .oper-form textarea {
    font-size: 0.6rem;
    margin: 0.2rem 0.1rem;
  }

  .place-btn{
    width:35%;
    margin:0.5rem 0;
    padding:0.1rem;
    font-size: 0.5rem;
  }

  /* check-price button and spinner */
  .check-price-container{
    margin: 0.1rem 0.1rem;
  }

  .button-spinner-container{
    margin:0.1rem 0.2rem;
    font-size: 0.2rem;
  }
  
  #try-again-text{
    margin:0.1rem 0.5rem;
    padding:1px;
  }
  
  #empty-symbol-text{
    margin:0.1rem 0.5rem;
    padding:1px;
  }

  #checking-spinner::after {
    width: 12px;
    height: 12px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #f25a41;
    margin-left:0.5rem;
  }

  .price-data-container{
    margin:0.1rem 0.6rem;
    font-size: 0.4rem;
  }
}

