.table-btn {
  width: 5rem;
  color: white;
  border: none;
  border-radius: 20px;
}

.btn-normal {
  background-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-success {
  background-color: #71d388;
}

.btn-disable {
  background-color: lightgray;
}

.admin-table-input {
  font-size: 1.2rem;
  width: 6rem;
}

/* admin form, for CreateUserForm component. */
.admin-form {
  width: 100%;
}

.admin-form-container {
  width: 40%;

  margin: 0.5rem 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checkbox-inline {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-right: 1rem;
}
